$bp-menu-is-floated: $bp-superfish-is-expanded;

.l-navigation {
  @include box-shadow(0px 3px 8px rgba(0,0,0,0.4));
  position: relative;
  z-index: 1;
  background: $l-navigation-bg-color;
  padding: 1rem 0;
  color: #fff;
  border: 1px solid darken($l-navigation-bg-color, 3);

  a {
    color: #fff;
    max-width: 100%;
  }

  .l-container {
    @include breakpoint($bp-superfish-is-expanded) {
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);
      min-height: 70px;
    }
  }

  .l-branding {
    @include flex(200px 1 1);
    padding-left: 2rem;
    padding-right: 6.5rem;
    max-width: 500px;

    @include breakpoint($bp-superfish-is-expanded) {
      padding-right: 0;
    }

    @include breakpoint($page-max-width) {
      padding: 0;
    }

    .site-logo {
      display: block;
      line-height: 0;

      img {
        max-height: 70px;
      }
    }

    .site-name {
      @include font-size(3.2);
      letter-spacing: -0.03em;

      a {
        @include inline-block;
        color: $color-gold;
      }

      small {
        font-size: 55%;
        position: relative;
        top: -3px;
      }
    }

    .site-slogan {
      @include font-size(1.7);
      margin-bottom: 0;
    }
  }

  .l-region--navigation {
    @include flex(500px 2 3);
  }
}
