/**
 * @file
 * OA Selby panel layout
**/

.panels-dnd .selby-container,
.panels-dnd .selby-content-header,
.panels-dnd .selby-content-container-column-container {
  margin-bottom: 1em;
}

.panels-dnd .selby-column {
  width: 34.043%;
  float: left;
}

.panels-dnd .selby-column-inner {
  margin-right: 20px;
}

.panels-dnd .selby-content-column2-inner {
  margin-right: 0;
}

.panels-dnd .selby-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "selby-column" class */
  float: left;
  width: 65.957%;
}

.panels-dnd .selby-content-container .selby-column {
  width: 51.613%;
}

.panels-dnd .selby-content-container .selby-content-column2 {
  width: 48.387%;
}

.panels-dnd .selby-content-column2-inner {
  margin-right: 0;
}
