/**
 * @file
 * OA Bartlett Flipped panel layout
**/

.panels-dnd .bartlett-flipped-container,
.panels-dnd .bartlett-flipped-content-header {
  margin-bottom: 1em;
}

.panels-dnd .bartlett-flipped-column {
  width: 34.043%;
  float: left;
}

.panels-dnd .bartlett-flipped-column-inner {
  margin-right: 20px;
}

.panels-dnd .bartlett-flipped-content-column2-inner,
.panels-dnd .bartlett-flipped-sidebar-inner {
  margin-right: 0;
}

.panels-dnd .bartlett-flipped .bartlett-flipped-sidebar {
  width: 31.915%;
}

.panels-dnd .bartlett-flipped-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "bartlett-flipped-column" class */
  float: left;
  width: 68.085%;
}

.panels-dnd .bartlett-flipped-content-container-inner {
  margin-right: 20px;
}

.panels-dnd .bartlett-flipped-content-container .bartlett-flipped-content-column1 {
  width: 51.613%;
}

.panels-dnd .bartlett-flipped-content-container .bartlett-flipped-content-column2 {
  width: 48.387%;
}
