/**
 * @file
 * OA Burr panel layout
**/

.panels-dnd .burr-container {
  margin-bottom: 1em;
}

.panels-dnd .burr-sidebar {
  width: 34.043%;
  float: left;
}

.panels-dnd .burr-sidebar-inner {
  margin-right: 20px;
}

.panels-dnd .burr-content {
  float: left;
  width: 65.957%;
}
