.block--menu-block-sitenow-menu-block {

  .menu {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #ccc;
      margin-bottom: .5em;
      padding-bottom: .5em;
    }

    .leaf,
    .expanded,
    .collapsed {
      list-style-type: none;
      list-style-image: none;
    }

    .collapsed,
    .expanded {
      position: relative;

      > a:after {
        @include icon($fa-var-angle-down);
        color: #aaa;
        position: absolute;
        right: 0;
        top: 3px;
      }

      > a.active:after {
        @include icon($fa-var-angle-left);
      }
    }

    a {
      display: block;
      padding-right: 15px; // pad in to prevent overflow on expanded arrow

      &:hover,
      &:focus,
      &:active {
        border-color: transparent;
      }
    }

    ul {
      margin-top: .5em;
      @include font-size(1.4);

      li {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      ul {
        padding-left: 1em;
      }
    }
  }
}
