/**
 * @file
 * OA Pond panel layout
**/

.panels-dnd .pond-container {
  margin-bottom: 1em;
}

.panels-dnd .pond-column {
  width: 34.043%;
  float: left;
}

.panels-dnd .pond-column-inner {
  margin-right: 20px;
}

.panels-dnd .pond-column3,
.panels-dnd .pond-secondary-column3 {
  width: 31.915%;
  margin-right: 0;
}
