.view-display-id-articles_teaser {

  .views-row {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 4px solid #eee;
  }

  .views-field {
    margin-bottom: 1em;
  }

  .views-field-title {

    h3 {
      margin-bottom: 0;
    }

    a {
      @include font-size(2.4);
    }
  }

  .views-field-field-image {
    line-height: 0;
  }

  .views-field-view-node a {
    @extend %views-read-more;
  }
}
