/**
 * @file
 * OA Melon panel layout
**/

.panels-dnd .melon-container,
.panels-dnd .melon-content-header {
  margin-bottom: 1em;
}

.panels-dnd .melon-column {
  width: 31.915%;
  float: left;
}

.panels-dnd .melon-column-inner {
  margin-right: 20px;
}

.panels-dnd .melon-content-column2-inner,
.panels-dnd .melon-sidebar-inner {
  margin-right: 0;
}

.panels-dnd .melon-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "melon-column" class */
  float: left;
  width: 68.085%;
}

.panels-dnd .melon-content-column1 {
  width: 51.613%;
}

.panels-dnd .melon-content-column2 {
  width: 48.387%;
}
