/**
 * @file
 * OA McCoppin panel layout
**/

.panels-dnd .mccoppin-container {
  margin-bottom: 1em;
}

.panels-dnd .mccoppin-column-content-region {
  width: 34.043%;
  float: left;
}

.panels-dnd .mccoppin-column-content-region-inner {
  margin-right: 20px;
}

.panels-dnd .mccoppin-column3 {
  width: 31.915%;
}

.panels-dnd .mccoppin-column3-inner {
  margin-right: 0;
}
