// Base Colors
$color-gold: #ffd220;
$color-dimgray: #615e56;
$color-warm-linen: #f8f2e1;

// Globals.
$border-radius: 3px;
$pull-top-offset: 120px;

// Layouts and breakpoints.
$toolbar-offset: 30px;
$toolbar-drawer-offset: 60px;
$page-max-width: 1140px;           // Max width for the containers.
$bp-pull-top-offset: $page-max-width + 40px;
$bp-superfish-is-expanded: 768px;

// Typography.
$base-font-color: #414141;         // Base font color.
$primary-link-color: #3273B8;
$link-hover-color: #666;

// Navigation.
$l-navigation-bg-color: #222222;   // Background color for the l-navigation region.
$main-menu-anchor-color: #FFFFFF;  // Link colors for the main menu.

// Overlay.
$overlay-opacity-default: 0.6;  // Sets the defualt opacity for overlays.

// Sidebar.
$sidebar-bg-color: #f5f5f5;
$sidebar-border-color: #efefef;
