/**
 * @file
 * OA Hewston panel layout
**/

.panels-dnd .hewston-flipped-container {
  margin-bottom: 1em;
}

.panels-dnd .hewston-flipped-slider {
  float: left;
  width: 65.957%;
}

.panels-dnd .hewston-flipped-slider-gutter {
  float: left;
  width: 34.043%;
}

.panels-dnd .hewston-flipped-slider-gutter-inner {
  margin-right: 20px
}

.panels-dnd .hewston-flipped-middle-region {
  width: 34.043%;
  float: left;
}

.panels-dnd .hewston-flipped-middle-region-inner {
  margin-right: 20px;
}

.panels-dnd .hewston-flipped-column3 {
  width: 31.915%;
}

.panels-dnd .hewston-flipped-column3-inner {
  margin-right: 0;
}
