/**
 * @file
 * OA Moscone Flipped panel layout
**/

.panels-dnd .moscone-flipped-container {
  margin-bottom: 1em;
}

.panels-dnd .moscone-flipped-content {
  width: 68.085%;
  float: left;
}

.panels-dnd .moscone-flipped-content-inner {
  margin-right: 20px;
}

.panels-dnd .moscone-flipped-sidebar {
  width: 31.915%;
  float: left;
}
