%menu-vertical {
  li,
  .leaf,
  .expanded,
  .collapsed {
    list-style: none;
  }
}

.menu {
  padding: 0;

  .l-main &,
  .l-footer & {
    @extend %menu-vertical;
  }
}

.l-region--sidebar .block--menu-block {
  .block__title {
    &:after {
      @include icon($fa-var-bars);
      float: right;
      margin-left: 0.8rem;
      position: relative;
      top: 2px;
    }
  }
}

