h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 0.8rem;
}

h1, .h1 { @include font-size(3.2); }
h2, .h2 { @include font-size(2.6); }
h3, .h3 { @include font-size(2.4); }
h4, .h4 { @include font-size(2.2); }
h5, .h5 { @include font-size(2); }
h6, .h6 { @include font-size(1.8); }

p, ol, ul, blockquote, pre, code {
  line-height: 1.6;
  margin: 0 0 1.6rem;
}

p {}
ol, ul { }
a { }
blockquote { }
pre, code { }
small { @include font-size(1.4) }

a {
  @include transition(all .3s ease-out);
  text-decoration: none;
  color: $primary-link-color;


  &:hover,
  &:focus,
  &:active {
    color: $link-hover-color;
  }

  &.active {
    color: #6A6A6A;
    cursor: default;
  }
}
