/**
 * @file
 * OA Hewston panel layout
**/

.panels-dnd .hewston-container {
  margin-bottom: 1em;
}

.panels-dnd .hewston-slider {
  float: left;
  width: 68.085%;
}

.panels-dnd .hewston-slider-inner {
  margin-right: 20px;
}

.panels-dnd .hewston-slider-gutter {
  float: left;
  width: 31.915%;
}

.panels-dnd .hewston-middle-region {
  width: 34.043%;
  float: left;
}

.panels-dnd .hewston-middle-region-inner {
  margin-right: 20px;
}

.panels-dnd .hewston-column3 {
  width: 31.915%;
}

.panels-dnd .hewston-column3-inner {
  margin-right: 0;
}
