/**
 * @file
 * OA Brenham panel layout
**/

 .panels-dnd .brenham-container {
  margin-bottom: 1em;
}

.panels-dnd .brenham-sidebar {
  width: 34.043%;
  float: left;
}

.panels-dnd .brenham-sidebar-inner {
  margin-right: 20px;
}

.panels-dnd .brenham-content {
  width: 65.957%;
  float: left;
}
