/**
 * @file
 * OA bryant panel layout
**/

.panels-dnd .bryant-container {
  margin-bottom: 1em;
}

.panels-dnd .bryant-sidebar {
  width: 23.404%;
  float: left;
}

.panels-dnd .bryant-sidebar-inner {
  margin-right: 20px;
}

.panels-dnd .bryant-content {
  float: left;
  width: 76.596%;
}
