/**
 * @file
 * OA Selby Flipped panel layout
**/

.panels-dnd .selby-flipped-container,
.panels-dnd .selby-flipped-content-header,
.panels-dnd .selby-flipped-content-container-column-container {
  margin-bottom: 1em;
}

.panels-dnd .selby-flipped-column {
  width: 34.043%;
  float: left;
}

.panels-dnd .selby-flipped-column-inner {
  margin-right: 20px;
}

.panels-dnd .selby-flipped-content-column2-inner {
  margin-right: 0;
}

.panels-dnd .selby-flipped-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "selby-flipped-column" class */
  float: left;
  width: 68.085%;
}

.panels-dnd .selby-flipped-content-container-inner {
  margin-right: 20px;
}

.panels-dnd .selby-flipped-content-container .selby-flipped-column {
  width: 51.613%;
}

.panels-dnd .selby-flipped-content-container .selby-flipped-content-column2 {
  width: 48.387%;
}

.panels-dnd .selby-flipped-sidebar {
  width: 31.915%;
}

.panels-dnd .selby-flipped-content-column2-inner,
.panels-dnd .selby-sidebar {
  margin-right: 0;
}
