/**
 * @file
 * OA Moscone panel layout
**/

.panels-dnd .moscone-container {
  margin-bottom: 1em;
}

.panels-dnd .moscone-sidebar {
  width: 34.043%;
  float: left;
}

.panels-dnd .moscone-sidebar-inner {
  margin-right: 20px;
}

.panels-dnd .moscone-content {
  width: 65.957%;
  float: left;
}
