/**
 * @file
 * OA Sutro panel layout
**/

.panels-dnd .sutro-container {
  margin-bottom: 1em;
}

.panels-dnd .sutro-column {
  width: 51.064%;
  float: left;
}

.panels-dnd .sutro-column-inner {
  margin-right: 20px;
}

.panels-dnd .sutro-column2 {
  width: 48.936%;
}

.panels-dnd .sutro-column2-inner {
  margin-right: 0;
}
