%absolute-fill {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// STANDARD STUFF
%simple-list {
  .item-list ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: .8rem;
      padding-bottom: .8rem;
      border-bottom: 1px dotted #ddd;
    }
  }
}

.more-link a, %views-read-more,
%btn-filled {
  @include button;
}

%element-invisible {
  @include element-invisible;
}

// END STANDARD STUFF