/**
 * @file
 * OA Harris panel layout
**/

.panels-dnd .harris-container {
  margin-bottom: 1em;
}

.panels-dnd .harris-column-content-region {
  width: 25.532%;
  float: left;
}

.panels-dnd .harris-column-content-region-inner {
  margin-right: 20px;
}

.panels-dnd .harris-column2 {
  width: 23.404%;
}

.panels-dnd .harris-column2-inner {
  margin-right: 0;
}

.panels-dnd .harris-content {
  width: 51.064%;
}
