/**
 * @file
 * OA Whelan panel layout
**/

.panels-dnd .whelan-container {
  margin-bottom: 1em;
}

.panels-dnd .whelan-column-content-region {
  width: 25.532%;
  float: left;
}

.panels-dnd .whelan-column-content-region-inner {
  margin-right: 20px;
}

.panels-dnd .whelan-column2 {
  width: 23.404%;
}

.panels-dnd .whelan-column2-inner {
  margin-right: 0;
}

.panels-dnd .whelan-content {
  width: 51.064%;
}
