/**
 * @file
 * OA Bartlett panel layout
**/

.panels-dnd .bartlett-container,
.panels-dnd .bartlett-content-header {
    margin-bottom: 1em;
  }

.panels-dnd .bartlett-column {
  width: 34.043%;
  float: left;
}

.panels-dnd .bartlett-column-inner {
  margin-right: 20px;
}

.panels-dnd .bartlett-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "bartlett-column" class */
  float: left;
  width: 65.957%;
}

.panels-dnd .bartlett-content-container .bartlett-content-column1 {
  width: 51.613%;
}

.panels-dnd .bartlett-content-container .bartlett-content-column2 {
  width: 48.387%;
}

.panels-dnd .bartlett-content-column2-inner {
  margin-right: 0;
}


