/**
 * @file
 * OA Sanderson panel layout
**/

.panels-dnd .its-front-column-content-region {
  width: 70%;
  float: left;
}

.panels-dnd .its-front-column2 {
  width: 30%;
}

.panels-dnd .its-front-secondary-column-content-region {
  width: 25%;
  float: left;
}

.panels-dnd .its-front-secondary-column4 {
  width: 25%;
}

.panels-dnd .its-front-column2-inner,
.panels-dnd .its-front-secondary-column4-inner {
  margin-right: 0;
}
