/**
 * @file
 * OA Phelan panel layout
**/

.panels-dnd .phelan-container {
  margin-bottom: 1em;
}

.panels-dnd .phelan-column {
  width: 51.064%;
  float: left;
}

.panels-dnd .phelan-column1-inner {
  margin-right: 20px;
}

.panels-dnd .phelan-column2 {
  width: 48.936%;
}
